.top-icons,
i.top-icons {
  font-size: 20rem;
  padding: 1rem;
}
ul.hero-spot,
ul.hero-spot li {
  list-style-type: none;
  display: inline;
}

.hero-spot li {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flex-direction-nav {
  display: none;
}


