a {
  word-wrap: break-word;
}
#moniker {
  padding: 1rem;
  background-color: #007ecc;
  color: #ffffff;
  box-shadow: 1px 1px 2px #333333;
  border-width: 0;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}
#moniker:hover {
  cursor: pointer;
}
/* trick peeps out */
::-moz-selection {
  background-color: transparent;
}
::selection {
  background-color: transparent;
}
/* begin the media queries */
@media (max-width: 48rem) {
  #moniker {
    width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
/* end the media queries */

