<footer class="site-footer">

  <style>
    .site-footer { line-height: 2.5; }
  </style>
  
  <div class="wrapper">

    <h2 class="footer-heading"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              GitHub
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              Twitter
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="generic-list">
          <li>{{ site.description }}</li>
          <li><a target="_blank" href="https://github.com/ryanpcmcquen/ryanpcmcquen.github.io">source</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>

<!-- *********************************************************************** -->
<!-- ************** DEFERS CSS LOADING TO IMPROVE PAGE SPEED *************** -->
<!-- ***************************** THANKS TO: ****************************** -->
<!--  https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery  -->
<!-- *********************************************************************** -->
<script>
  var cb = function() {
    var l = document.createElement('link'); l.rel = 'stylesheet';
    l.href = '{{ site.baseurl }}/css/main.css';
    var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(cb);
  else window.addEventListener('load', cb);
</script>
