<footer class="site-footer">

  <style>
    .site-footer { line-height: 2.5; }
  </style>
  
  <div class="wrapper">

    <h2 class="footer-heading"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>Email <a href="https://lea.verou.me/2009/11/yet-another-email-hiding-technique/">(DO NOT COPY)</a>:</strong></li>
          <li>ryanpcmcquen&#xFF20;member&#x2024;fsf&#x2024;org</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              GitHub
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              Twitter
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="generic-list">
          <li>{{ site.description }}</li>
          <li><a href="https://github.com/ryanpcmcquen/ryanpcmcquen.github.io">source</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-4">
        <ul class="generic-list">
          <li>
            <a href="https://fsf.org">
              <img src="https://ryanpcmcquen.org/assets/1521146.png">
            </a>
          </li>
        </ul>
      </div>
      
    </div>

  </div>

</footer>
