<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18 1.484c0 .82-.665 1.484-1.484 1.484H1.484a1.485 1.485 0 0 1 0-2.968h15.03C17.335 0 18 .665 18 1.484zM18 7.516C18 8.336 17.335 9 16.516 9H1.484a1.484 1.484 0 0 1 0-2.968h15.03c.82 0 1.486.664 1.486 1.484zM18 13.516c0 .82-.665 1.484-1.484 1.484H1.484a1.484 1.484 0 0 1 0-2.968h15.03c.82 0 1.486.664 1.486 1.484z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
