<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script src='/js/{{ js_file }}.js'></script>
      {% endfor %}
    {% endif %}

  </body>

</html>
